name: Draft Release JAR

on:
  push:
    tags:
      - 'v*.*.*'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release:
    name: Package & Draft Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: sbt

      - name: Set up sbt
        uses: sbt/setup-sbt@v1

      - name: Build JAR
        run: sbt "++${{ github.ref_name#v }}" package

      - name: Rename JAR
        run: |
          # Find the built JAR file and rename it to PowerTools.jar
          built_jar=$(ls target/scala-*/powertools*.jar)
          mv "$built_jar" "target/scala-*/PowerTools.jar"

      - name: Create draft GitHub Release & upload JAR
        uses: softprops/action-gh-release@v2.3.2
        with:
          tag_name: ${{ github.ref_name }}
          draft: true
          files: |
            target/scala-*/PowerTools.jar
